@media (min-width: 1280px) {
  section.product .canvas {
    width: 150px;
    height: 200px;
    padding: 50px 10px 10px;
  }

  section.product .canvas h3 {
    color: black;
    font-size: 18px;
  }

  section.product .right-side {
    border-left: 1px solid silver;
    flex: 3;
    padding-left: 100px;
  }

  section.product .right-side .content {
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
  }

  section.product .right-side .content a:nth-child(n + 9) {
    display: inline;
  }

  section.profile .content {
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 350px 350px;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }

  section.profile .content .contacts .card-items,
  section.profile .content .details .card-items {
    padding: 20px;
  }

  section.profile .content .contacts {
    grid-area: 1 / 2 / 2 / 4;
  }

  section.profile .content .contacts form {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
    row-gap: 10%;
  }

  section.profile .content .contacts .head,
  section.profile .content .details .head {
    grid-column: 1 / span 2;
  }

  section.profile .content .details {
    grid-area: 2 / 1 / 2 / 3;
  }

  section.profile .content .buttons .buttons-wrap {
    padding-left: 10%;
  }

  section.profile .content .details form {
    display: grid;
    grid-template-columns: 60% 34%;
    column-gap: 6%;
  }

  section.profile .content .details .date {
    grid-area: 2 / 2 / 3 / 3;
  }

  section.profile .content .details .gender {
    grid-area: 3 / 2 / 4 / 3;
  }

  section.product-detail .card-items {
    padding: 50px;
    box-sizing: border-box;
  }

  section.product-detail .left-side {
    flex: 2;
  }

  section.product-detail .left-side .content {
    justify-content: space-around;
    padding: 0 50px;
  }

  section.product-detail .right-side {
    flex: 3;
  }

  section.product-detail .right-side .method {
    grid-template-columns: auto auto auto;
  }

  section.product-detail .wrapper-content .card-wrapper {
    flex: 3;
  }

  .container {
    max-width: 1280px;
  }

  .search-wrapper {
    width: 30%;
  }
}
