/* width 1024-1279 */

@media (min-width: 1024px) {
  /* section.auth-page{
		background-size: 65%;
	} */
	
	.title-section {
		font-size: 36px;
    max-width: 500px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  .container {
    max-width: 1024px;
  }

  .toggle-button {
    display: none;
  }

  .menu {
    display: inline-block;
  }

  .search-wrapper {
    width: 40%;
  }
}
