@media (min-width: 1024px) {
	h2{
		font-size: 36px;
	}
	
	.container {
		max-width: 1024px;
	}

	.toggle-button {
		display: none;
	}

	.menu{
		display: inline-block
	}

	.search-wrapper {
    width: 40%;
  }
}
