/* for display 640px - 768px */

@media (min-width: 640px) {
  section.advantages .wrapper-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

	section.profile .content {
    grid-template-columns: 48% 48%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 40px;
    grid-column-gap: 4%;
  }

  section.profile .content .contacts {
    grid-area: 1 / 2 / 3 / 3;
  }

  section.profile .content .contacts form {
    display: grid;
    row-gap: 10%;
  }

	section.profile .content .details form {
    display: grid;
  }

  section.profile .content .details {
    grid-area: 2 / 1 / 4 / 2;
  }


  section.product .right-side nav .nav-content .menu {
    width: 100%;
    display: inline-block;
    min-width: 500px;
  }

  section.product .right-side .content {
    grid-template-columns: auto auto auto;
  }

  section.product .right-side .content a:nth-child(n + 9) {
    display: inline;
  }

  section.product .right-side .content a:nth-child(n + 10) {
    display: none;
  }

  section.history .content {
    grid-template-columns: auto auto;
  }

  .container {
    max-width: 640px;
  }

  .fliying .circle {
    margin-right: 10px;
  }

  .fliying-data {
    min-height: 150px;
    top: -75px;
  }

  .flitying-data h4 {
    margin: 0;
  }

  .fliying-section {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  footer .wrapper {
    flex-direction: row;
  }

  .logo-name {
    display: inline-block;
  }

  .title-main {
    font-size: 60px;
  }
}
