body {
  margin: 0;
}

:focus-visible {
  outline-width: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  border-width: 0;
}

footer {
  background-color: #eee;
  padding-bottom: 40px;
  padding-top: 40px;
}

footer .logo-name {
  display: inline-block;
}

footer .left-side {
  margin-bottom: 32px;
}

footer .left-side p {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 290px;
}

footer .left-side .account {
  display: flex;
  flex-direction: row;
}

footer .left-side .account .circle {
  background-color: #6a4029 !important;
  border-radius: 15px;
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

footer .right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 275px;
  width: 100%;
}

footer .right-side h4 {
  color: black;
  margin-bottom: 10px;
}

footer .wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* form property */
form .form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

form .form-section .form-label {
  margin-bottom: 10px;
}

form .form-section input {
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

form .form-section .btn {
  margin-bottom: 10px;
}

form .form-section .btn .logo-wrapper {
  margin-right: 10px;
  width: 20px;
}
/* end of from property */

nav {
  display: flex;
  align-items: center;
  height: 50px;
}

nav.main {
  background-color: #fff;
  border-bottom: 1px solid silver;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 255;
}

section {
  box-sizing: border-box;
}

section.advantages {
  background-color: white;
}

section.advantages .explain {
  margin-bottom: 20px;
  margin-top: 20px;
}

section.advantages .image {
  max-width: 575px;
}

section.advantages .wrapper {
  padding-top: 100px;
}

section.advantages .wrapper-image {
  display: none;
}

section.advantages .wrapper-data {
  margin-bottom: 50px;
  margin-top: 50px;
}

section.advantages ul li .material-icons,
section.favorites ul li .material-icons {
  color: #2fab73;
  margin-right: 10px;
}

section.auth-page {
  min-height: 600px;
	height: 100vh;
  max-height: 1070px;
}

section.auth-page .container {
  height: 100%;
}

section.forgot-pass {
  background-attachment: fixed;
  background-image: url("../img/cup-coffee300.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
	min-height: 600px;
  position: relative;
}

section.forgot-pass form input {
  height: 80px;
  flex: 3;
}

section.forgot-pass form .btn {
  margin: 0;
  flex: 1;
}

section.forgot-pass form .form-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

section.forgot-pass form .form-section input {
  grid-column: 1/4;
}

section.forgot-pass .btn {
  height: 80px;
}

section li {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

section p,
footer p {
  line-height: 30px;
}

section.cart {
  min-height: 100vh;
  background-image: url("../img/coffeInGlass.jpg");
  background-attachment: fixed;
  background-position: center 60%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 40px 0;
}

section.cart .card-items {
  color: #000;
  padding: 40px;
  margin-bottom: 40px;
}

section.cart .cart-image {
  display: none;
}

section.cart .cart-product {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
}

section.cart .cart-product .cart-detail {
  grid-column: 1/4;
}

section.cart .cart-product .price p {
  text-align: right;
}

section.cart .detail-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.cart .left-side {
  flex: 1;
  width: 100%;
}

section.cart .left-side h2 {
  text-align: center;
  color: #362115;
}

section.cart .left-side .card-items section {
  margin-top: 10px;
  margin-bottom: 10px;
}

section.cart .left-content {
  width: 100%;
  box-sizing: border-box;
}

section.cart .right-side {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
}

section.cart .right-content {
  width: 100%;
  box-sizing: border-box;
}

section.cart .right-side .card-items .card-section {
  border-bottom: 1px solid silver;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

section.cart .total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.cart .total-price p {
  color: #362115;
  font-weight: bold;
  font-size: 20px;
}

section.cart .wrapper-content {
  flex-direction: column;
}

section.favorites {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.favorites button {
  margin-top: 10px;
}

section.favorites .card-items {
  align-items: center;
  border: 1px solid #aaa;
  min-height: 750px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 300px;
}

section.favorites .card-items,
section.testimony .card-items {
  border: 1px solid #aaa;
}

section.favorites .card-items.mid {
  margin-left: 20px;
  margin-right: 20px;
}

section.favorites .data {
  flex: 1;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 70px;
}

section.favorites .data h4 {
  margin-bottom: 50px;
  text-align: center;
}

section.favorites .data p {
  text-align: left;
}

section.favorites .image {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-color: burlywood;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section.favorites .order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.first {
  margin-top: 50px;
}

section.jumbotron {
  background-attachment: fixed;
  background-image: url("../img/home.png");
  background-position: center 50px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 645px;
  padding-bottom: 75px;
}

section.history {
  min-height: 100vh;
  background-image: url("../img/coffeeFilter.jpg");
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}

section.history .card-items {
  padding: 20px;
}

section.history .content {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

section.history .title-section {
  max-width: 100%;
  font-weight: bold;
  color: white;
}

section.history .title-select {
  max-width: 100%;
  text-align: right;
  line-height: 25px;
  font-weight: bold;
  color: white;
}

section.history .title-sub-section {
  max-width: 100%;
  text-align: center;
  line-height: 25px;
  color: white;
}

section.jumbotron ul li .material-icons {
  color: #2fab73;
  font-size: 14px;
  margin-right: 10px;
  padding-top: 8px;
}

section.jumbotron .container {
  height: 100%;
}

section.jumbotron .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
  width: 100%;
}

section.jumbotron .searching {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

section.jumbotron .title-sub {
  max-width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

section.jumbotron .title-sub,
section.jumbotron .title-main {
  align-self: flex-start;
}

section.map,
section.partner,
section.testimony {
  padding-top: 75px;
  padding-bottom: 75px;
}

section.partner .image {
  max-width: 150px;
  width: 80%;
}

section.product {
  height: 100vh;
  overflow-y: scroll;
}

section.product::-webkit-scrollbar,
section.product-detail::-webkit-scrollbar {
  width: 0;
}

section.product .canvas {
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px #999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 175px;
  margin-top: 50px;
  padding: 50px 10px 0;
  position: relative;
  width: 120px;
}

section.product .canvas h3 {
  color: black;
  font-size: 16px;
}

section.product .canvas p {
  color: #6a4029;
}

section.product .canvas .canvas-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  text-align: center;
}

section.product .canvas .circle {
  position: absolute;
  top: -50px;
}

section.product .coupon-accesories1,
section.product .coupon-accesories2 {
  width: 8%;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

section.product .coupon-accesories1 {
  background-color: #000;
  height: 350px;
}

section.product .coupon-accesories2 {
  background-color: #895537;
  height: 300px;
}

section.product .left-side {
  display: none;
  flex: 1;
  flex-direction: column;
  height: 850px;
  justify-content: space-between;
  padding: 20px;
}

section.product .left-side ul {
  list-style-type: decimal;
}

section.product .left-side .btn {
  width: 80% !important;
}

section.product .left-side .coupon {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

section.product .left-side .coupon-body {
  align-items: center;
  background-color: #ffcb65;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: center;
  width: 80%;
}

section.product .left-side .coupon-body .top-section {
  align-items: center;
  border-bottom: 1px dashed #000;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

section.product .left-side .coupon-body .bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.product .left-side .title-side {
  color: #6a4029;
  margin-bottom: 20px;
  text-align: center;
}

section.product .left-side .title-sub-side {
  text-align: center;
}

section.product .left-side .wrapper {
  align-items: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

section.product .right-side {
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  flex: 1;
}

section.product .right-side nav .nav-content {
  /* background-color:darkgrey; */
  width: 100%;
  max-width: px;
  overflow: scroll;
}

section.product .right-side nav .nav-content::-webkit-scrollbar {
  width: 0;
}

section.product .right-side nav .nav-content .menu {
  width: 100%;
  /* display: inline-block; */
  min-width: 500px;
}

section.product .right-side nav .nav-content .menu ul {
  box-sizing: border-box;
  justify-content: space-between;
}

section.product .right-side .content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

section.product .right-side .content a:nth-child(n + 9) {
  display: none;
}

section.product .right-side .content .content-item {
  display: flex;
  justify-content: center;
}

section.product .wrapper {
  box-sizing: border-box;
  display: flex;
}

section.product-detail {
  padding-bottom: 100px;
}

section.product-detail .card-items {
  padding: 50px 10px;
  box-sizing: border-box;
}

section.product-detail .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

section.product-detail form .form-section {
  flex-direction: row;
  align-items: center;
}

section.product-detail form .form-section input {
  flex: 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

section.product-detail .amount {
  margin-top: 100px;
  /* display: none !important; */
}

section.product-detail .amount-detail {
  display: flex;
  margin-bottom: 20px;
}

section.product-detail .amount-data {
  margin-left: 20px;
}

section.product-detail .amount-input {
  display: flex;
  align-items: center;
}

section.product-detail .amount-input .value {
  margin: 0 20px;
}

section.product-detail .left-side {
  height: 600px;
}

section.product-detail .left-side .circle {
  margin-top: 40px;
}

section.product-detail .left-side .product-name {
  margin: 20px 0;
}

section section.product-detail .right-side {
  display: none;
}

section.product-detail .right-side .method {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

section.product-detail .wrapper-content {
  flex-direction: column;
}

section.product-detail .wrapper-content .card-wrapper {
  min-height: 120px;
  margin-bottom: 20px;
	min-width: 0;
}

section.product-detail .wrapper-content .card-wrapper .card-items {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
}

section.product-detail .wrapper-content .button-wrapper {
  flex: 1;
  height: 120px;
  width: 100%;
}

section.product-detail .wrapper-content .btn {
  height: 100%;
}

section.profile {
  background-image: url("../img/coffeeSeed.jpg");
  background-size: cover;
  background-position: center 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section.profile .content {
  display: grid;
  grid-row-gap: 40px;
}

section.profile .content form .form-section input {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-left: 0;
  padding-right: 0;
}

section.profile .content form .form-section input::placeholder {
  color: #000;
}

section.profile .content form .form-section textarea {
  line-height: 20px;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

section.profile .content form .form-section textarea::placeholder {
  color: #000;
  font-family: "Poppins";
}

section.profile .content .card-items {
  border-bottom: 10px solid #6a4029;
  height: 100%;
}

section.profile .content .head {
  box-sizing: border-box;
}

section.profile .content .head .email {
  font-size: 12px;
}

section.profile .content .head .card-items {
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

section.profile .content .contacts .card-items,
section.profile .content .details .card-items {
  padding: 20px 10px;
}

section.profile .content .buttons .buttons-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section.profile .content .photo-wrapper {
  position: relative;
}

section.profile .content button.circle {
  position: absolute;
  bottom: 0;
  right: 0;
}

section.profile .title-section {
  color: white;
  text-align: left;
}

section.profile .content .details .gender input {
  height: auto;
}

section.testimony .card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

section.testimony .card-head .info {
  flex: 1;
  margin-left: 10px;
}

section.testimony .card-head .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section.testimony .card-head .rating .material-icons {
  color: #ffba33;
}

section.testimony .card-items {
  padding: 30px;
  width: 400px;
  height: 230px;
}

section.testimony .card-wrapper {
  width: 1500px;
}

section.testimony .circle {
  background-color: white;
}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

.auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.auth nav {
  border-width: 0;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.auth .menu {
  display: inline-block;
}

.auth .auth-form {
  box-sizing: border-box;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 25%;
  width: 100%;
}

.auth .auth-form .title-section {
  align-self: center;
  color: #6a4029;
  max-width: 100%;
}

.auth .auth-form form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* background property */
.bg-brown {
  background-color: #6a4029;
  color: #ffffff;
}

.bg-brown:active {
  background-color: #ffba33;
  color: #6a4029;
}

.bg-yellow {
  background-color: #ffba33;
  color: #6a4029;
}

.bg-yellow:active {
  background-color: #6a4029;
  color: #fff;
}

.bg-white {
  background-color: white;
  border: 2px solid #ffba33;
  color: #6a4029;
}

.bg-white:active {
  background-color: #ffba33;
}

.bg-orange {
  background-color: #f47b0a;
  color: white;
}

.bg-orange:active {
  background-color: #a65307;
}

/* end of background property */

/* button property */
.btn {
  align-items: center;
  border-width: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.btn-square {
  padding-left: 0;
  padding-right: 0;
  width: 40px;
}

.btn-c-brown {
  background-color: #6a4029;
  color: #ffffff;
}

.btn-c-brown:active {
  background-color: #ffba33;
  color: #6a4029;
}

.btn-c-yellow {
  background-color: #ffba33;
  color: #6a4029;
}

.btn-c-yellow:active {
  background-color: #6a4029;
  color: #fff;
}

.btn-c-white {
  background-color: white;
  border: 1px solid #ffba33;
  color: #6a4029;
}

.btn-c-white:active {
  background-color: #ffba33;
}

.btn-c-shadow {
  background-color: white;
  border-width: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-c-shadow:active {
  background-color: white;
  background-color: #6a4029;
  color: white;
}

.btn-rad-full {
  border-radius: 9999px;
}

.btn-rad-square {
  border-radius: 5px;
}
/* end of button porperty */

/* border radius property */
.round-full {
  border-radius: 9999px;
}

.round-md {
  border-radius: 5px;
}
/* end of border radius property */

/* card property */
.card {
  width: 100%;
  overflow-x: scroll;
}

.card::-webkit-scrollbar {
  width: 0;
}

.card-items {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 800px;
  width: 100%;
}
/* end of card property */

/* circle property */
.circle {
  align-items: center;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.circle-xs {
  height: 30px;
  width: 30px;
}

.circle-sm {
  height: 40px;
  width: 40px;
}

.circle-md {
  height: 60px;
  width: 60px;
}

.circle-lg {
  height: 80px;
  width: 80px;
}

.circle-xl {
  height: 100px;
  width: 100px;
}

.circle-2xl {
  height: 120px;
  width: 120px;
}

.circle-big {
  height: 150px;
  width: 150px;
}
/* end of circle property */

/* flex property */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.item-start {
  align-items: flex-start;
}
/* end of flex property */

.h-full {
  height: 100%;
}

/* margin property */
.my-1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.my-2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.my-3 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.my-4 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.mx-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}
/* end of margin property */

/* width property */
.w-full {
  width: 100%;
}
/* end of width property */

/* text property */
.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-brown {
  color: #6a4029;
}

.text-grey {
  color: #4f5665;
}

.text-white {
  color: white;
}
/* end of text property */

/* flex property */
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}
/* end of flex property */

.container {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  /* background-color: darkred; */
}

.fliying {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fliying-data {
  min-height: 200px;
  position: absolute;
  top: -100px;
  z-index: 10;
}

.fliying-data h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.fliying-mid {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
}

.fliying-section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.image {
  width: 100%;
  display: inline-block;
}

.link {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  width: 100%;
}

.logo-name {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  color: #6a4029;
}

.logo-wrapper {
  width: 30px;
  position: relative;
}

.menu {
  display: none;
}

.menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #4f5665;
  display: flex;
}

.menu ul li a:hover {
  color: #6a4029;
  font-weight: bold;
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* box sizing property */
.box {
  box-sizing: border-box;
}
/* ed of box sizing property */

/* Padding Property */
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-10 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.py-20 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
/* End of Padding Property */

.search {
  height: 40px;
  border-radius: 20px;
  border-width: 0;
  padding-left: 60px;
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
}

.search-wrapper {
  width: 100%;
}

.search-icon {
  margin-top: -33px;
  margin-left: 20px;
  color: #909090;
}

.shadow {
  text-shadow: 0 0 5px #000000;
}

.shadow-box {
  box-shadow: 0 0 20px #000000;
}

.shadow-box-yellow {
  box-shadow: 0 0 20px #ffba33;
}

.shadow-box-grey {
  box-shadow: 0 0 20px #aaaaaa;
}

/* square property */
.square {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 54px;
}

.square-xs {
  height: 30px;
  width: 30px;
}

.square-sm {
  height: 40px;
  width: 40px;
}

.square-md {
  height: 60px;
  width: 60px;
}

.square-lg {
  height: 80px;
  width: 80px;
}

.square-xl {
  height: 100px;
  width: 100px;
}

.square-big {
  height: 300px;
  width: 300px;
}
/* end of square property */

.text-secondary {
  color: #4f5665;
}

/* title history */
.title-main {
  font-size: 40px;
}

.title-sub {
  line-height: 30px;
}

.title-section {
  max-width: 300px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
}

.title-sub-section {
  max-width: 500px;
  text-align: center;
  line-height: 25px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
/* end of title history */

.toggle-button {
  background-color: #6a4029;
  height: 33px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #995c3a;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.wrapper-content {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.wrapper-data {
  flex: 1;
}

.wrapper-image {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
