body {
	margin: 0;
}

nav {
	background-color: #fff;
	height: 50px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid silver;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 255;
}

.button-full{
	align-items: center;
	background-color: #FFBA33;
	border-radius: 20px;
	border-width: 0;
	color : #6A4029;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	height : 40px;
	justify-content: center;	
	padding-left: 24px;
	padding-right: 24px;
}

.button-full:hover{
	background-color: #6A4029;
	color : #fff
}

.container {
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	/* background-color: honeydew; */
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
}

.section-first{
	margin-top: 50px;
}

.font-rubik {
	font-family: "Rubik", sans-serif;
}

.font-poppins{
	font-family: 'Poppins', sans-serif;
}

.jumbotron {
	min-height: 645px;
	background-image: url("../img/home.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
	background-size: cover;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo-image {
	width: 100%;
}

.logo-name {
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5px;
}

.logo-wrapper {
	width: 30px;
}

.menu{
	display : none;
}

.menu ul{
	list-style-type: none;
	display : flex;
	flex-direction: row;
	align-items: center;
	margin : 0;
	padding : 0;
}

.menu ul li{
	margin : 0 20px;
}

.menu ul li a{
	text-decoration : none;
	color : #4F5665;
}

.menu ul li a:hover{
	color : #6A4029;
	font-weight: bold;
}

.nav-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.search {
	height: 40px;
	border-radius: 20px;
	border-width: 0;
	padding-left: 60px;
	padding-right: 20px;
}

.search-wrapper{
	position: relative;	
}

.search-icon {
	margin-top: -33px;
	margin-left: 20px;
}


.toggle-button {
	background-color: #6a4029;
	height: 33px;
	width: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.toggle-button:hover {
	background-color: #995c3a;
}
