@media (min-width: 768px) {
	nav.main{
		height: 70px;
	}

	section.auth-page{
		background-image: url("../img/picnic200.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		/* background-size: auto 100%; */
		background-size: 50%;
	}

	section.first{
		margin-top: 70px;
	}

	section.jumbotron{
		background-position: center 70px;
	}

	section.jumbotron .searching {
    justify-content: flex-end;
  }

  section.jumbotron .content {
    width: 50%;
  }

  section.jumbotron .content {
    align-items: flex-start;
  }

	.auth{
		width: 50%;
	}

	.auth-page .wrapper{
		display: flex;	
		flex-direction: row;
		justify-content: flex-end;
	}
	
	.container {
		max-width: 768px;
	}

  .search-wrapper {
    width: 50%;
  }
}
